################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment1/FileContentIndex/1fc45b5c-8391-41ba-94d5-5791b7476c3f.vsidx
/.vs/Assignment1/FileContentIndex
